/*--- Epilogue font ---*/
@font-face {
  font-family: Epilogue;
  src: url("/fonts/Epilogue/Epilogue-VariableFont_wght.ttf");
}

/*--- Oswald font ---*/
@font-face {
  font-family: Oswald;
  src: url("/fonts/Oswald/Oswald-VariableFont_wght.ttf");
}

/*--- Roboto font ---*/
@font-face {
  font-family: Roboto;
  src: url("/fonts/Roboto/Roboto-Regular.ttf");
}

/*---------------------------- Variables ---------------------------*/
/*---------------------------- Colors ----------------------------*/
/*--------------x------------- Colors ---------------x------------*/
/*---------------------------- fonts ----------------------------*/
/*--------------x------------- fonts ---------------x------------*/
* {
  margin: 0px;
  padding: 0px;
  font-family: Roboto;
  font-size: 1.1rem;
}

html {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  font-size: 1.0rem;
}

a:visited {
  color: #000000;
}

a:active {
  color: #3f51b5;
}

p {
  font-size: 1.0rem;
  line-height: 1.1rem;
}

div {
  margin: 0px;
  padding: 10px;
}

section {
  margin: 10px 0px;
}

ul {
  list-style: none;
}

table {
  border: 0px;
  height: auto;
  width: 100%;
  border-collapse: collapse;
}

table tr th {
  font-weight: 600;
  text-align: left;
}

table tr th, table tr td {
  border-bottom: 1px solid #e6e6e6;
  margin: 0px;
  padding: 10px;
}

header, footer {
  margin: 0px;
  padding: 10px;
  width: 100%;
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.9rem;
}

h3 {
  font-size: 2.3rem;
}

h4 {
  font-size: 1.7rem;
}

h5 {
  font-size: 1.3rem;
}

h6 {
  font-size: .8rem;
}

.container {
  margin: 0px 300px;
  padding: 10px 20px;
  height: auto;
  max-width: 100%;
}

@media screen and (max-width: 1100px) {
  .container {
    margin: 0px 200px;
  }
}

@media screen and (max-width: 900px) {
  .container {
    margin: 0px 150px;
  }
}

@media screen and (max-width: 780px) {
  .container {
    margin: 0px 100px;
  }
}

@media screen and (max-width: 450px) {
  .container {
    margin: 0px 60px;
  }
}

@media screen and (max-width: 340px) {
  .container {
    margin: 0px 40px;
    padding: 10px 0px;
  }
}

@media screen and (max-width: 300px) {
  .container {
    margin: 0px 30px;
    padding: 10px 0px;
  }
}

.container-fluid {
  margin: 0px 50px;
  padding: 10px 20px;
  height: auto;
  max-width: 100%;
}

@media screen and (max-width: 600px) {
  .container-fluid {
    margin: 0 30px;
    padding: 10px;
  }
}

.row {
  height: auto;
  width: 100%;
  max-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  margin: 0px;
  padding: 0px;
}

.row .col {
  grid-column: span 1;
}

.row .col-2 {
  grid-column: span 2;
}

.row .col-3 {
  grid-column: span 3;
}

.row .col-4 {
  grid-column: span 4;
}

.row .col-5 {
  grid-column: span 5;
}

.row .col-6 {
  grid-column: span 6;
}

.row .col-7 {
  grid-column: span 7;
}

.row .col-8 {
  grid-column: span 8;
}

.row .col-9 {
  grid-column: span 9;
}

.row .col-10 {
  grid-column: span 10;
}

.row .col-11 {
  grid-column: span 11;
}

.row .col-12 {
  grid-column: span 12;
}

@media screen and (max-width: 3200px) {
  .row {
    -ms-grid-columns: (1fr)[16];
        grid-template-columns: repeat(16, 1fr);
  }
  .row .col-xxl-1 {
    grid-column: span 1;
  }
  .row .col-xxl-2 {
    grid-column: span 2;
  }
  .row .col-xxl-3 {
    grid-column: span 3;
  }
  .row .col-xxl-4 {
    grid-column: span 4;
  }
  .row .col-xxl-5 {
    grid-column: span 5;
  }
  .row .col-xxl-6 {
    grid-column: span 6;
  }
  .row .col-xxl-7 {
    grid-column: span 7;
  }
  .row .col-xxl-8 {
    grid-column: span 8;
  }
  .row .col-xxl-9 {
    grid-column: span 9;
  }
  .row .col-xxl-10 {
    grid-column: span 10;
  }
  .row .col-xxl-11 {
    grid-column: span 11;
  }
  .row .col-xxl-12 {
    grid-column: span 12;
  }
  .row .col-xxl-13 {
    grid-column: span 13;
  }
  .row .col-xxl-14 {
    grid-column: span 14;
  }
  .row .col-xxl-15 {
    grid-column: span 15;
  }
  .row .col-xxl-16 {
    grid-column: span 16;
  }
}

@media screen and (max-width: 2400px) {
  .row {
    -ms-grid-columns: (1fr)[16];
        grid-template-columns: repeat(16, 1fr);
  }
  .row .col-xl-1 {
    grid-column: span 1;
  }
  .row .col-xl-2 {
    grid-column: span 2;
  }
  .row .col-xl-3 {
    grid-column: span 3;
  }
  .row .col-xl-4 {
    grid-column: span 4;
  }
  .row .col-xl-5 {
    grid-column: span 5;
  }
  .row .col-xl-6 {
    grid-column: span 6;
  }
  .row .col-xl-7 {
    grid-column: span 7;
  }
  .row .col-xl-8 {
    grid-column: span 8;
  }
  .row .col-xl-9 {
    grid-column: span 9;
  }
  .row .col-xl-10 {
    grid-column: span 10;
  }
  .row .col-xl-11 {
    grid-column: span 11;
  }
  .row .col-xl-12 {
    grid-column: span 12;
  }
  .row .col-xl-13 {
    grid-column: span 13;
  }
  .row .col-xl-14 {
    grid-column: span 14;
  }
  .row .col-xl-15 {
    grid-column: span 15;
  }
  .row .col-xl-16 {
    grid-column: span 16;
  }
}

@media screen and (max-width: 1400px) {
  .row {
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
  }
  .row .col-lg-1 {
    grid-column: span 1;
  }
  .row .col-lg-2 {
    grid-column: span 2;
  }
  .row .col-lg-3 {
    grid-column: span 3;
  }
  .row .col-lg-4 {
    grid-column: span 4;
  }
  .row .col-lg-5 {
    grid-column: span 5;
  }
  .row .col-lg-6 {
    grid-column: span 6;
  }
  .row .col-lg-7 {
    grid-column: span 7;
  }
  .row .col-lg-8 {
    grid-column: span 8;
  }
  .row .col-lg-9 {
    grid-column: span 9;
  }
  .row .col-lg-10 {
    grid-column: span 10;
  }
  .row .col-lg-11 {
    grid-column: span 11;
  }
  .row .col-lg-12 {
    grid-column: span 12;
  }
}

@media screen and (max-width: 900px) {
  .row {
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
  }
  .row .col-md-1 {
    grid-column: span 1;
  }
  .row .col-md-2 {
    grid-column: span 2;
  }
  .row .col-md-3 {
    grid-column: span 3;
  }
  .row .col-md-4 {
    grid-column: span 4;
  }
  .row .col-md-5 {
    grid-column: span 5;
  }
  .row .col-md-6 {
    grid-column: span 6;
  }
  .row .col-md-7 {
    grid-column: span 7;
  }
  .row .col-md-8 {
    grid-column: span 8;
  }
  .row .col-md-9 {
    grid-column: span 9;
  }
  .row .col-md-10 {
    grid-column: span 10;
  }
  .row .col-md-11 {
    grid-column: span 11;
  }
  .row .col-md-12 {
    grid-column: span 12;
  }
}

@media screen and (max-width: 430px) {
  .row {
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
  }
  .row .col-sm-1 {
    grid-column: span 1;
  }
  .row .col-sm-2 {
    grid-column: span 2;
  }
  .row .col-sm-3 {
    grid-column: span 3;
  }
  .row .col-sm-4 {
    grid-column: span 4;
  }
  .row .col-sm-5 {
    grid-column: span 5;
  }
  .row .col-sm-6 {
    grid-column: span 6;
  }
  .row .col-sm-7 {
    grid-column: span 7;
  }
  .row .col-sm-8 {
    grid-column: span 8;
  }
  .row .col-sm-9 {
    grid-column: span 9;
  }
  .row .col-sm-10 {
    grid-column: span 10;
  }
  .row .col-sm-11 {
    grid-column: span 11;
  }
  .row .col-sm-12 {
    grid-column: span 12;
  }
}

/*------------ background classes ------------*/
.bg-primary {
  background-color: #4e89ae;
}

.bg-info {
  background-color: #40a8c4;
}

.bg-success {
  background-color: #32e0c4;
}

.bg-danger {
  background-color: #ff4b5c;
}

.bg-warning {
  background-color: #f08a5d;
}

.bg-white {
  background-color: #FFFFFF;
}

.bg-black {
  background-color: #000000;
}

.bg-dark {
  background-color: #2d4059;
}

.bg-red {
  background-color: #f44336;
}

.bg-pink {
  background-color: #e91e63;
}

.bg-purple {
  background-color: #9c27b0;
}

.bg-deep-purple {
  background-color: #673ab7;
}

.indigo {
  background-color: #3f51b5;
}

.blue {
  background-color: #2196f3;
}

.light-blue {
  background-color: #03a9f4;
}

.bg-cyan {
  background-color: #00bcd4;
}

.bg-teal {
  background-color: #009688;
}

.bg-green {
  background-color: #4caf50;
}

.bg-lime {
  background-color: #cddc39;
}

.bg-yellow {
  background-color: #ffeb3b;
}

.bg-amber {
  background-color: #ffc107;
}

.bg-orange {
  background-color: #ff9800;
}

.bg-deep-orange {
  background-color: #ff5722;
}

.bg-brown {
  background-color: #795548;
}

.bg-grey {
  background-color: #9e9e9e;
}

.bg-light-grey {
  background-color: #607d8b;
}

.bg-default {
  background-color: #e6e6e6;
}

.bg-inc-blue {
  background-color: #00416d;
}

/*------x------ background classes ------x------*/
/*# sourceMappingURL=easy.css.map */