/*------------ background classes ------------*/

.bg-primary{
    background-color: $primary;
}

.bg-info{
    background-color: $info;
}

.bg-success{
    background-color: $success;
}

.bg-danger{
    background-color: $danger;
}

.bg-warning{
    background-color: $warning;
}

.bg-white{
    background-color: $white;
}

.bg-black{
    background-color: $black;
}

.bg-dark{
    background-color: $dark;
}

.bg-red{
    background-color: $red;
}

.bg-pink{
    background-color: $pink;
}

.bg-purple{
    background-color: $purple;
}

.bg-deep-purple{
    background-color: $deep-purple;
}

.indigo{
    background-color: $indigo;
}

.blue{
    background-color: $blue;
}

.light-blue{
    background-color: $light-blue;
}

.bg-cyan{
    background-color: $cyan;
}

.bg-teal{
    background-color: $teal;
}

.bg-green{
    background-color: $green;
}

.bg-lime{
    background-color: $lime;
}

.bg-yellow{
    background-color: $yellow;
}

.bg-amber{
    background-color: $amber;
}

.bg-orange{
    background-color: $orange;
}

.bg-deep-orange{
    background-color: $deep-orange;
}

.bg-brown{
    background-color: $brown;
}

.bg-grey{
    background-color: $grey;
}

.bg-light-grey{
    background-color: $light-grey;
}

.bg-default{
    background-color: $default;
}

.bg-inc-blue{
    background-color: $inc-blue;
}

/*------x------ background classes ------x------*/