.container-fluid{
    margin: 0px 50px;
    padding: 10px 20px;
    height: auto;
    max-width: 100%;
}

@media screen and (max-width: 600px){
    .container-fluid{
        margin: 0 30px;
        padding: 10px;
    }
}